@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
}

.article ul p {
  display: inline;
}

strong {
  font-weight: 500;
}

html.dark [data-theme='light'],
html.light [data-theme='dark'] {
  display: none;
}

[data-rehype-pretty-code-fragment] {
  @apply my-3;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-b-0 border-dashed border-slate-400 bg-slate-200 px-3 py-2 font-mono text-1 font-bold text-slate-800 dark:border-slate-600 dark:bg-[#1A2334] dark:text-slate-200;
}

[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
}

[data-rehype-pretty-code-fragment] .line {
  @apply pl-2;
}

code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-1 text-right font-mono font-medium text-slate-500;
}

[data-rehype-pretty-code-fragment] .line.highlighted {
  @apply rounded bg-slate-500 bg-opacity-10 dark:bg-[#1A2334];
}

[data-rehype-pretty-code-fragment] .line .word-highlighted {
  @apply mx-[0.5px] rounded bg-slate-500 bg-opacity-10 px-[4px] py-[2px] dark:bg-slate-800;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none rounded-tr-none border-t-0;
}

body::-webkit-scrollbar {
  @apply w-[8px];
}

body::-webkit-scrollbar-track {
  @apply rounded-lg bg-slate-100 dark:bg-slate-700;
}

body::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-300 dark:bg-slate-500;
}

.toc::-webkit-scrollbar {
  @apply w-[4px];
}

.toc::-webkit-scrollbar-track {
  @apply rounded-lg bg-light-green-100 dark:bg-dark-green-900;
}

.toc::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-light-green-200 dark:bg-dark-green-700;
}
