@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* BLUE */
  --solitude-50: #f0f9ff;
  --solitude-100: #dff1ff;
  --solitude-200: #b8e4ff;
  --solitude-300: #8ad6ff;
  --solitude-400: #33b9fd;
  --solitude-500: #09a1ee;
  --solitude-600: #007fcc;
  --solitude-700: #0065a5;
  --solitude-800: #045688;
  --solitude-900: #0a4870;
  --solitude-950: #062d4b;
  /* GREEN */
  --madang-50: #f2fbf3;
  --madang-100: #e0f8e2;
  --madang-200: #afe9b6;
  --madang-300: #95e09f;
  --madang-400: #5fc96e;
  --madang-500: #39ae49;
  --madang-600: #2a8f38;
  --madang-700: #24712f;
  --madang-800: #215a2a;
  --madang-900: #1d4a25;
  --madang-950: #0b2810;
  /* RED */
  --chablis-50: #fff2f2;
  --chablis-100: #ffe0e0;
  --chablis-200: #ffc6c6;
  --chablis-300: #ff9e9e;
  --chablis-400: #ff6666;
  --chablis-500: #fd3636;
  --chablis-600: #eb1717;
  --chablis-700: #c60f0f;
  --chablis-800: #a31111;
  --chablis-900: #871515;
  --chablis-950: #4a0505;
  /* Purple */
  --hawkes-blue-50: #eef1ff;
  --hawkes-blue-100: #d8dffe;
  --hawkes-blue-200: #c8d1fd;
  --hawkes-blue-300: #a7b2fa;
  --hawkes-blue-400: #8489f5;
  --hawkes-blue-500: #6b67ed;
  --hawkes-blue-600: #594ae1;
  --hawkes-blue-700: #4c3cc6;
  --hawkes-blue-800: #3f33a0;
  --hawkes-blue-900: #36307f;
  --hawkes-blue-950: #211c4a;
}

.dark {
  /* BLUE */
  --solitude-50: #f3f7fc;
  --solitude-100: #e6eff8;
  --solitude-200: #c8ddef;
  --solitude-300: #97c0e2;
  --solitude-400: #609fd0;
  --solitude-500: #3b83bc;
  --solitude-600: #2b689e;
  --solitude-700: #245480;
  --solitude-800: #21476b;
  --solitude-900: #1c354e;
  --solitude-950: #15273c;
  /* GREEN */
  --madang-50: #f3faf4;
  --madang-100: #e5f3e8;
  --madang-200: #cbe7d1;
  --madang-300: #a2d3ad;
  --madang-400: #72b682;
  --madang-500: #4e9960;
  --madang-600: #3c7d4b;
  --madang-700: #32633d;
  --madang-800: #2b5034;
  --madang-900: #223d29;
  --madang-950: #102315;
  /* RED */
  --chablis-50: #fbf4f7;
  --chablis-100: #f8ebf0;
  --chablis-200: #f2d8e2;
  --chablis-300: #e9b8ca;
  --chablis-400: #da8ca6;
  --chablis-500: #cb6987;
  --chablis-600: #b74b67;
  --chablis-700: #9d3950;
  --chablis-800: #823243;
  --chablis-900: #57242f;
  --chablis-950: #41161f;

  /* Purple */
  --hawkes-blue-50: #f2f6fc;
  --hawkes-blue-100: #e2ebf7;
  --hawkes-blue-200: #cbdcf2;
  --hawkes-blue-300: #a8c6e8;
  --hawkes-blue-400: #7ea8dc;
  --hawkes-blue-500: #608ad1;
  --hawkes-blue-600: #4c71c4;
  --hawkes-blue-700: #425fb3;
  --hawkes-blue-800: #3b4f92;
  --hawkes-blue-900: #334475;
  --hawkes-blue-950: #262f4e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

html.dark [data-theme='light'],
html.light [data-theme='dark'] {
  display: none;
}

.dark img {
  opacity: 0.7;
}

.article img {
  opacity: unset;
}

[data-rehype-pretty-code-fragment] {
  @apply my-2 md:my-4;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-md border border-b-0 border-dashed border-slate-400 bg-slate-200 px-4 py-3 font-mono text-xs font-bold text-slate-800 md:text-sm dark:border-slate-500 dark:bg-slate-800 dark:text-slate-200;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none rounded-tr-none border-t-0;
}

[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
}

[data-rehype-pretty-code-fragment] .line {
  @apply pl-1;
}

code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-8 inline-block w-6 text-right font-mono font-medium text-slate-500;
}

[data-rehype-pretty-code-fragment] .line.highlighted {
  @apply rounded bg-slate-500 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line .word-highlighted {
  @apply mx-[0.5px] rounded bg-slate-500 bg-opacity-10 px-1 py-[2px];
}

body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-track {
  @apply rounded-lg bg-slate-100 dark:bg-slate-700;
}

body::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-300 dark:bg-slate-500;
}
