@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
	--color-primary: 259deg 59% 59%; /* #805ad5 */
	--color-text: 218deg 23% 23%; /* #2D3748 */
	--color-background: 0deg 0% 100%;
}

.dark {
	--color-primary: 262deg 81% 65%; /* #B794F4 */
	--color-text: 250deg 81% 99%; /* #fbfaff */
	--color-background: 220deg 26% 14%; /* #1A202C */
}

*,
*::after,
*::before {
	box-sizing: border-box;
	@apply focus:outline focus:outline-1 focus:outline-offset-2 focus:outline-primary;
}

* {
	margin: 0;
	padding: 0;
}

:focus:not(:focus-visible) {
	outline: none;
}

img,
picture {
	max-width: 100%;
}

input,
button {
	font: inherit;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

/* Code block style */
html.dark [data-theme='light'],
html.light [data-theme='dark'] {
	display: none;
}

[data-rehype-pretty-code-title] {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-weight: 500;
	@apply border-b border-gray-50 bg-[#dde6ee] font-code text-base text-text dark:border-gray-500 dark:bg-gray-800;
}

[data-rehype-pretty-code-fragment] {
	margin: 1.5rem 0;
}

[data-rehype-pretty-code-fragment] pre {
	padding: 1rem 0;
	margin: 2rem 0;
	border-radius: 0.5rem;
	overflow: auto;
	@apply !bg-[#f5f8fa] dark:!bg-gray-700;
}

[data-rehype-pretty-code-fragment] code {
	counter-reset: line;
	display: grid;
	min-width: 100%;
	overflow-wrap: break-word;
	background: transparent;
	padding: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #000;
	@apply font-code;
}

[data-rehype-pretty-code-fragment] .line {
	padding-left: 1rem;
}

[data-rehype-pretty-code-fragment] .line.highlighted {
	@apply bg-gray-500 bg-opacity-10 dark:bg-gray-800;
}

[data-rehype-pretty-code-fragment] .word-highlighted {
	border-radius: 4px;
	padding: 3px 4px;
	@apply bg-gray-500 bg-opacity-30 dark:bg-gray-800;
}

code {
	counter-reset: line;
}

code[data-line-numbers] .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	@apply font-code text-gray-500 dark:text-gray-300;
}

[data-rehype-pretty-code-title] + pre {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

aside p {
	margin-bottom: 0 !important;
}

aside p:not(:last-child) {
	margin-bottom: 0.5rem !important;
}

.blog-content p code,
.blog-content a code,
.blog-content li code {
	display: inline;
	border-radius: 0.375rem;
	padding: 0 4px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.025rem;
	@apply bg-gray-100 text-red-500 dark:bg-gray-700 dark:text-red-400;
}

.blog-content aside a {
	display: inline;
}

.warning code {
	@apply dark:!bg-gray-800 dark:!text-red-500;
}

.anchor {
	position: absolute;
	text-decoration-line: none;
	margin-left: 10px;
	cursor: pointer;
}

.anchor:before {
	content: '#';
	@apply text-gray-300 dark:text-gray-500;
}

.info a,
.info strong {
	@apply text-[#002342] dark:text-[#f0f8ff];
}

.warning a,
.warning strong {
	@apply text-[#4d0013] dark:text-[#fefafb];
}

.warning [data-rehype-pretty-code-fragment],
.info [data-rehype-pretty-code-fragment],
.resources [data-rehype-pretty-code-fragment] {
	margin: 1rem 0;
}

.warning [data-rehype-pretty-code-fragment] pre,
.info [data-rehype-pretty-code-fragment] pre,
.resources [data-rehype-pretty-code-fragment] pre {
	margin: 0;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
	@apply bg-gray-100 dark:bg-gray-900;
}

body::-webkit-scrollbar {
	width: 8px;
	@apply bg-gray-100 dark:bg-gray-900;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	@apply bg-gray-200 dark:bg-gray-700;
}

pre::-webkit-scrollbar-track {
	border-radius: 10px;
	@apply bg-gray-100 dark:bg-gray-900;
}

pre::-webkit-scrollbar {
	height: 8px;
	@apply bg-gray-100 dark:bg-gray-900;
}

pre::-webkit-scrollbar-thumb {
	border-radius: 10px;
	@apply bg-gray-200 dark:bg-gray-600;
}
